frames/full/*
!frames/full/.gitkeep

frames/hand/*
!frames/hand/.gitkeep

features/openpose/clean_data/*
!features/openpose/clean_data/.gitkeep

features/openpose/json/*
!features/openpose/json/.gitkeep

features/final/*
!features/final/.gitkeep

features/temp/*
!features/temp/.gitkeep

videos/*
!videos/.gitkeep
!videos/DictaSign_lsf_S4_T7_B14_front_extract.mp4
!videos/DictaSign_lsf_S7_T2_A10_front_extract.mp4
!videos/DictaSign_lsf_S8_T4_B4_front_extract.mp4
